version: "3.9"

services:
  backend:
    image: robiul93093/sarbeswardas-backend:latest
    container_name: sarbeswardas-backend
    ports:
      - "5000:5000"
    env_file:
      - .env
    restart: unless-stopped
